@use '../variables' as *;
@use '../mixins' as *;

// Buttons

.button__container {
  margin: 24px 0 0;

  &.-center {
    display: flex;
    justify-content: center;
  }
}

.button {
  position: relative;
  display: block;
  border: 0;
  text-align: center;
  font-size: $default-font-size;
  line-height: $default-line-height;
  font-weight: 600;
  color: $button-color;
  background-color: $button-background-color;
  background-image: $button-background-gradient;
  padding: 9px 24px;
  border-radius: $medium-border-radius;
  text-decoration: none !important;
  outline: none !important;
  box-shadow: inset 0 0 0 1px transparent;
  transition: transition('color', 'background-color', 'border-color', 'box-shadow');
  overflow: hidden;
  cursor: pointer;

  &:hover {
    box-shadow: inset 0 0 0 1px rgba(#fff, 0.6);
    color: $button-color;
  }

  &.-block {
    display: block;
    width: 100%;
  }

  &.-selectable,
  &.-small {
    padding: 4px 16px;
    border-radius: $small-border-radius;
    font-size: 14px;
    line-height: calc(32px - 4px - 4px);

    &.-icon {
      width: 32px;
      height: 32px;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &.-secondary {
    background-color: $color-surface-1;
    background-image: none;
    color: $default-text-color;

    &:hover {
      box-shadow: inset 0 0 0 1px rgba(#000, 1);
      color: $light-text-color;
    }
  }

  &.-selectable {
    background: $textfield-background-color;
    box-shadow: inset 0 0 0 1px $textfield-border-color;
    font-weight: normal;
    color: $secondary-text-color;

    &:hover,
    &.-active {
      box-shadow: inset 0 0 0 1px $textfield-border-color-hover;
      color: $default-text-color;
    }

    .selectable-button-list & {
      z-index: 1;
      flex-shrink: 0;

      &:not(:first-child) {
        margin-left: -1px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      &:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:hover {
        z-index: 2;
      }

      &.-active {
        z-index: 3;
      }
    }

    &.-single-icon {
      padding: 0;
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &.-has-icon {
    padding-left: calc(10px + 24px + 6px);

    .icon {
      position: absolute;
      top: calc((42px - 24px) / 2);
      left: 10px;
      width: 24px;
      height: 24px;
      text-align: left;
    }
  }

  &.-medium {
    padding: 7px 20px;
    border-radius: $small-border-radius;

    &.-has-icon {
      padding-left: calc(8px + 24px + 4px);

      .icon {
        left: 8px;
        top: calc((38px - 24px) / 2);
      }
    }
  }

  &.-danger {
    background: $error-color;
  }

  > span {
    position: relative;
    z-index: 2;
  }

  &[disabled] {
    box-shadow: none !important;
    cursor: default !important;
  }

  &[disabled]:not(.-loading) {
    color: $button-color-disabled !important;
    background: $button-background-color-disabled !important;
  }
}

.selectable-button-list {
  display: flex;
}

.button[disabled].-loading {
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.18) 25%,
    rgba(255, 255, 255, 0) 25%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0.18) 50%,
    rgba(255, 255, 255, 0.18) 75%,
    rgba(255, 255, 255, 0) 75%,
    rgba(255, 255, 255, 0)
  ) !important;
  background-size: 48px 48px !important;
  background-repeat: repeat !important;
  transition: background-position 6000s linear !important;
  background-position: 200000px !important;
}
