@use '../variables' as *;
@use '../mixins' as *;

.input__wrapper {
  position: relative;

  &[data-input-type='hidden'] {
    display: none;
  }
}

.input__container {
  position: relative;

  + .input__container {
    margin-top: 12px;
  }

  &.-required:not(.-has-value) {
    &::after {
      content: '*';
      position: absolute;
      z-index: 4;
      top: 7px;
      right: 7px;
      font-size: 14px;
      line-height: 1;
      font-weight: 500;
      color: $color-surface-5;
    }
  }
}

// Label

.input__label {
  font-weight: 600;
  padding: 0 8px;
  margin: 0 0 4px;
  color: $default-text-color;
}

// Description, Error

.input__description,
.input__error {
  font-size: 13px;
  padding: 0 8px;
  margin: 4px 0 0;
}

.input__description {
  color: $secondary-text-color;

  + .input__error {
    margin-top: 0;
  }
}

.input__error {
  color: $error-text-color;
}
