@use '../variables' as *;
@use '../mixins' as *;

// Reset

input,
input[type='text'],
input[type='email'],
input[type='password'],
textarea {
  line-height: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input,
textarea,
button {
  margin: 0;
  display: block;
  outline: none;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: inherit;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
}

// Placeholders

::-webkit-input-placeholder {
  color: $textfield-placeholder-color;
}

::-moz-placeholder {
  color: $textfield-placeholder-color;
}

:-ms-input-placeholder {
  color: $textfield-placeholder-color;
}

[disabled]::-webkit-input-placeholder {
  color: $textfield-color-disabled;
}

[disabled]::-moz-placeholder {
  color: $textfield-color-disabled;
}

[disabled]::-ms-input-placeholder {
  color: $textfield-color-disabled;
}

// Textfields

input.textfield,
select.textfield,
textarea.textfield {
  position: relative;
  z-index: 1;
  color: $textfield-color;
  background-color: $textfield-background-color;
  border: 1px solid $textfield-border-color;
  padding: 0 16px;
  height: $textfield-height;
  font-size: $default-font-size;
  line-height: 1.5;
  font-weight: normal;
  border-radius: $textfield-border-radius;
  resize: none;
  box-shadow: none;
  transition: transition('border-color', 'background-color', 'color');
  display: block;
  width: 100%;

  &:hover {
    border-color: $textfield-border-color-hover;
  }

  &:focus {
    border-color: $textfield-border-color-focus;
  }

  &.-large,
  .input__container.-size-large & {
    height: 52px;
    font-size: 17px;
  }

  &.-small,
  .input__container.-size-small & {
    height: 32px;
    font-size: 14px;
    border-radius: $small-border-radius;
    padding-left: 12px;
    padding-right: 12px;
  }

  .input__container.-has-icon-left & {
    padding-left: calc(1px + 4px + 24px + 2px);
  }

  .input__container.-has-icon-right & {
    padding-right: calc(1px + 4px + 24px + 2px);
  }

  &.-h {
    position: absolute !important;
    left: -10000px !important;
  }

  &.-error,
  .input__container.-error & {
    border-color: $textfield-border-color-error;
  }

  &[disabled] {
    color: $textfield-color-disabled !important;
    border-color: $textfield-border-color-disabled !important;
  }
}

// Select fields

select.textfield {
  appearance: none;
  cursor: pointer;
  padding-right: calc(1px + 6px + 24px + 4px) !important;
}

.select__pointer-icon {
  .input__container:not(.-disabled):hover & {
    color: $default-text-color;
  }
}

// Textareas

textarea.textfield {
  height: auto;
  padding: 8px 16px;
  line-height: inherit;
}

// Textfield icons

.textfield__icon {
  width: 24px;
  height: 24px;
  position: absolute;
  z-index: 2;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
  color: $color-surface-6;
  transition: transition('color');
  pointer-events: none;

  &.-left {
    left: 4px;
  }

  &.-right {
    right: 4px;
  }

  &.-icon-search {
    font-size: 20px;
    line-height: 24px;
  }

  .input__container.-has-focus & {
    color: $default-text-color;
  }

  &.textfield__clear-button {
    cursor: pointer;
    pointer-events: all;
    color: $color-surface-6 !important;
    font-size: 16px;
    line-height: 24px;
    display: none;

    .input__container.-has-value & {
      display: block;
    }

    &:hover {
      color: $default-text-color !important;
    }
  }
}
