@use '../variables' as *;
@use '../mixins' as *;

// Flash messages

.flash-message__wrapper {
  background: $info-background-color;
  padding: 12px 16px;
  border-radius: $medium-border-radius;
  margin: 0 0 24px;
  border: 1px solid $info-color;
  border-left-width: 3px;

  &.-success {
    background: $success-background-color;
    border-color: $success-color
  }
}

.flash-message__title {
  font-weight: 600;
  color: $info-text-color;

  .flash-message__wrapper.-success & {
    color: $success-text-color
  }
}

.flash-message__text {
  font-size: 13px;

  .flash-message__wrapper.-info & {
    color: $secondary-text-color
  }
}

// Floating messages

.message__container {
  position: fixed;
  z-index: 2100;
  right: 8px;
  bottom: 8px;
  background: #000;
  padding: 8px 16px;
  border-radius: $small-border-radius;
  color: $light-text-color;
  font-size: $default-font-size;
  font-weight: 600;
  max-width: calc(100% - 8px - 8px);
  cursor: pointer;
  transform: translateY(100%);
  transition: transition('opacity', 'transform', 'margin');
  opacity: 0;

  &.-visible {
    opacity: 1;
    transform: translateY(0);

    &.-close {
      opacity: 0;
    }
  }

  &.-info {
    background: $info-color;
  }

  &.-warning {
    background: $warning-color;
  }

  &.-error {
    background: $error-color;
  }

  &.-success {
    background: $success-color;
  }
}
