@use 'variables' as *;
@use 'mixins' as *;

:root {
  color-scheme: dark;
}

body {
  font-family: $default-font-family;
  font-size: $default-font-size;
  line-height: $default-line-height;
  background-color: $color-surface-1;
  color: $default-text-color;
}

* {
  scrollbar-width: thin;
  box-sizing: border-box;
}

a,
.link {
  text-decoration: none;
  color: $secondary-text-color;
  transition: transition('color');
  cursor: pointer;

  &:hover {
    text-decoration: none;
    color: $light-text-color;
  }

  &.-secondary {
    color: $secondary-text-color;

    &:hover {
      color: $light-text-color;
    }
  }
}

h1,
.h1 {
  color: $default-text-color;
  font-weight: 600;
  font-size: 21px;
  margin: 0 0 16px;
  line-height: 1.4;

  &:last-child {
    margin-bottom: 0;
  }
}
