// Colors
$primary-color: #528bff;
$secondary-color: #52c4ff;

$primary-gradient: linear-gradient(to top right, $primary-color, $secondary-color);

$color-surface-1: #080b0f;
$color-surface-2: #121821;
$color-surface-2-lighter: #1b2330;
$color-surface-3: #232a35;
$color-surface-3-lighter: #353c48;
$color-surface-4: #4a5667;
$color-surface-5: #5f6b7a;
$color-surface-6: #8895a8;

$default-text-color: #d6e0f5;
$secondary-text-color: $color-surface-6;
$tertiary-text-color: $color-surface-5;
$light-text-color: #fff;

$info-color: #375ba8;
$info-background-color: #122038;
$info-text-color: $default-text-color;
$warning-color: #ffa60d;
$warning-background-color: #fff9f0;
$warning-text-color: #663614;
$error-color: #ef4444;
$error-background-color: #fef2f2;
$error-text-color: $error-color;
$success-color: #29cc6d;
$success-background-color: #0e2417;
$success-text-color: #a9f5c6;

$file-extension-colors: (
  doc: #1953b8,
  xls: #12753d,
  pdf: #a42516,
  ppt: #b72d14,
  zip: #ffcc66,
);

// Text
$default-font-family: 'Nunito Sans', sans-serif;
$default-font-size: 15px;
$default-line-height: 1.6;
$small-font-size: 13px;
$small-line-height: 1.4;

// Dimensions
$header-height: 62px;
$panel-width: 200px;

// Border radius
$default-border-radius: 16px;
$medium-border-radius: 10px;
$small-border-radius: 8px;
$tiny-border-radius: 4px;

// Transitions
$default-transition-speed: 280ms;
$slow-transition-speed: 420ms;
$fast-transition-speed: 180ms;

// Textfields
$textfield-height: 42px;

$textfield-color: $default-text-color;
$textfield-color-disabled: $tertiary-text-color;
$textfield-placeholder-color: $tertiary-text-color;

$textfield-background-color: $color-surface-2;

$textfield-border-color: $color-surface-3;
$textfield-border-radius: $medium-border-radius;
$textfield-border-color-hover: $color-surface-3-lighter;
$textfield-border-color-focus: $primary-color;
$textfield-border-color-error: $error-color;
$textfield-border-color-disabled: $color-surface-3;

// Buttons
$button-color: $light-text-color;
$button-color-disabled: $color-surface-3-lighter;
$button-background-color: $primary-color;
$button-background-gradient: $primary-gradient;
$button-background-color-disabled: $color-surface-2;
