@use '../variables' as *;
@use '../mixins' as *;

.auth__wrapper {
  width: 380px;
  max-width: calc(100% - 32px);

  @media (max-width: 400px) {
    width: 100%;
  }

  .flash-message__wrapper {
    margin-bottom: 48px;

    @media (max-width: 600px) {
      margin-bottom: 32px;
    }
  }
}

.auth__form-title {
  font-size: 28px;
  line-height: 1.3;
  font-weight: 600;
  margin: 0 0 24px;
  text-align: center;
  color: $light-text-color;
}

.auth__form-description {
  margin: -8px 0 24px;
  text-align: center;
  color: $secondary-text-color;

  &.-error {
    b {
      font-weight: 600;
      color: $error-text-color;
    }
  }
}

.auth__form-message {
  display: none;
  margin: -8px 0 16px;
  padding: 0 24px;
  text-align: center;
  font-weight: 600;

  @media (max-width: 600px) {
    padding: 0 16px;
  }

  &.-active {
    display: block;
  }

  &.-success {
    color: $success-text-color;
  }

  &.-error {
    color: $error-text-color;
  }
}

.auth__button-container {
  margin: 12px 0 0;
}

.auth__form-links {
  margin: 24px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.auth__form-link {
  text-decoration: none;
  color: $secondary-text-color;

  &:hover {
    text-decoration: none;
    color: $light-text-color;
  }
}
