@use "../variables" as *;
@use "../mixins" as *;

.error-page__wrapper {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 32px 0;
  justify-content: center;
}

.error-page__container {
  padding: 0 24px;
}

.error-page__content {
  text-align: center;
}

.error-page__code {
  font-size: 80px;
  font-weight: bold;
  margin: 0 0 16px;
  line-height: 1;
  display: flex;
  justify-content: center;
}

.error-page__title {
  font-size: 29px;
  line-height: 1.4;
  font-weight: 600;
  margin: 0 0 16px;

  @media (max-width: 400px) {
    font-size: 25px;
  }
}

.error-page__subtitle {
  font-size: 17px;
  font-weight: normal;
  margin: 0;
  color: $secondary-text-color;

  @media (max-width: 400px) {
    br {
      display: none;
    }
  }
}
