@use '../variables' as *;
@use '../mixins' as *;

.header__wrapper {
  background-color: $color-surface-2;
}

.header__container {
  position: relative;
  z-index: 10;
  height: $header-height;
  display: flex;

  &::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 1px;
    background: $color-surface-1;
  }
}

.header__content {
  flex: 1;
  display: flex;
  align-items: center;
}

.header__page-title-container {
  flex: 1;
  padding: 0 24px 0 0;
}

// Form button

.header__form-buttons {
  margin: 0 8px 0 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__form-button {
  &.-icon {
    display: block;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      width: 24px;
      height: 24px;
    }
  }
}

// User menu

.header__user-menu-container {
  position: relative;
  flex-shrink: 0;
}

.header__user-menu {
  right: 8px !important;
  z-index: 20;
}

.header__user-menu-toggler {
  height: $header-height;
  width: $header-height;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__user-menu-icon {
  width: 36px;
  height: 36px;
  font-size: 36px;
  color: $secondary-text-color;
  transition: transition('color');

  .header__user-menu-toggler:hover &,
  .header__user-menu-toggler.-active & {
    color: #fff;
  }
}
