@use "../variables" as *;
@use "../mixins" as *;

.panel__wrapper {
  background: $color-surface-2;
  width: $panel-width;
  flex-shrink: 0;
}

.panel__header {
  height: $header-height;
}

.panel__container {
  height: calc(100vh - $header-height);
  overflow: auto;
}

.panel__content {
  padding: 0 0 24px;
}

.panel__label {
  font-size: $small-font-size;
  line-height: $small-line-height;
  font-weight: 600;
  color: $secondary-text-color;
  padding: 0 12px 0 calc(8px + 24px + 6px);
  margin: 0 0 4px;
}

.panel__nav {
  margin: 0 0 24px;

  &:last-child {
    margin-bottom: 0;
  }
}

.panel__link-container {
  transition: transition('background-color');

  &.-active {
    background-color: $color-surface-2-lighter;

    &.-has-subs {
      >.panel__link:not(.-sub):first-child {
        color: $light-text-color;

        &::before {
          display: none !important;
        }
      }
    }
  }
}

.panel__link {
  position: relative;
  display: flex;
  color: $default-text-color;
  text-decoration: none;
  padding: 4px 12px 4px 8px;
  transition: transition('color');

  &::before {
    content: '';
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 0;
    max-height: 30px;
    border-radius: 0 4px 4px 0;
    background: $primary-color;
    transition: transition('width', 'opacity');
    width: 0;
    opacity: 0;
  }

  &.-active,
  &:hover {
    text-decoration: none;
    color: $light-text-color;

    &::before {
      width: 4px;
      opacity: 1;
    }
  }

  &.-active::after {
    content: '';
    position: absolute;
    right: -0.5px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid $color-surface-1;
  }

  &.-sub {
    font-size: 13px;
    padding-left: calc(8px + 24px + 6px);
    display: none;

    .panel__link-container.-active & {
      display: block;
    }
  }
}

.panel__link-text {
  word-break: break-word;
}

.panel__icon {
  margin: 0 6px 0 0;
}
