@use "../variables" as *;
@use "../mixins" as *;

.admin__scaffold {
  display: flex;
}

.content__wrapper {
  flex: 1;
  width: calc(100vw - $panel-width);
}

.content__container {
  body.-logged-in & {
    height: calc(100vh - $header-height);
    overflow: auto;
  }

  body:not(.-logged-in) & {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.content__content {
  padding: 16px;
}
