@use '../variables' as *;
@use '../mixins' as *;

.settings__wrapper {
  position: relative;
}

.settings__container {
  position: relative;
  margin: 24px 0 0;

  &:first-child {
    margin-top: 0;
  }
}

.settings__title {
  margin: 0 0 4px;
  padding: 0 calc(1px + 12px);
  font-weight: 600;

  &.-has-link {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    > a,
    > .link {
      font-weight: normal;
      padding-bottom: 3px;
    }
  }
}

.settings__item {
  border: 1px solid $color-surface-3;
  padding: 8px 12px;
  background: $color-surface-2;

  &:first-child {
    border-top-left-radius: $medium-border-radius;
    border-top-right-radius: $medium-border-radius;
  }

  &:last-child {
    border-bottom-left-radius: $medium-border-radius;
    border-bottom-right-radius: $medium-border-radius;
  }

  + .settings__item {
    border-top: 0;
  }
}

.settings__label,
.settings__sublabel {
  font-size: $small-font-size;
  line-height: $small-line-height;
  color: $secondary-text-color;

  .monospace {
    font-size: 12px;
    font-weight: normal;
  }
}

.settings__label {
  font-weight: 600;
}

.settings__sublabel {
  font-size: 12px;
}

.settings__value {
  margin: 2px 0 0;
}

.settings__warning {
  font-size: $small-font-size;
  line-height: $small-line-height;
  margin: 4px 0 0;

  &.-error {
    color: $error-text-color;
  }

  &.-warning {
    color: $warning-color;
  }
}

.settings__links-container {
  margin: 12px 0 0;
  padding: 0 calc(1px + 12px);
}

.settings__link {
  font-size: 13px;
}
