@use '../variables' as *;
@use '../mixins' as *;

// Tab navigation

.tab-navigation__container {
  position: relative;
  margin: 0 0 24px;
  display: flex;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: $color-surface-3;
    border-radius: 1px;
  }
}

.tab-navigation__item {
  display: block;
  position: relative;
  z-index: 2;
  padding: 0 8px calc(2px + 4px);
  color: $secondary-text-color;
  transition: transition('color');
  text-decoration: none;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: $default-text-color;
    border-radius: 1px;
    transition: transition('opacity');
    opacity: 0;
  }

  &:hover {
    color: $default-text-color;
    text-decoration: none;
  }

  &.-active {
    color: $default-text-color;

    &::after {
      opacity: 1;
    }
  }
}

// Tab content

.tab-content__container {
  [data-tab-content] & {
    display: none;

    &.-active {
      display: block;
    }
  }
}