@use '../variables' as *;
@use '../mixins' as *;
@use 'sass:map';

// Preview

.file-preview {
  display: block;
  position: relative;
  width: 32px;
  height: 32px;
  background: $color-surface-3 no-repeat center center / cover;
  border-radius: $tiny-border-radius;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &.-extension-svg,
  &.-extension-ico {
    background-size: 24px;

    .list-content__container.-list-view-grid & {
      background-size: calc(100% - 8px);
    }
  }

  &.-extension-ico {
    .list-content__container.-list-view-grid & {
      background-size: 32px;
    }
  }

  &.-extension-pdf {
    background-size: contain;
  }

  .list-content__container.-list-view-grid & {
    width: 100%;
    height: 100%;
    border-radius: $small-border-radius;
  }
}

a.file-preview {
  text-decoration: none !important;

  &::after {
    content: '';
    display: block;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    border-radius: calc($tiny-border-radius + 1px);
    border: 2px solid rgba(#fff, 0.15);
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 2;
    opacity: 0;
    transition: transition('opacity');
  }

  &:hover {
    text-decoration: none !important;

    &::after {
      opacity: 1;
    }
  }

  &.-type-image.-has-preview {
    &:not(.-extension-svg):not(.-extension-ico) {
      &::after {
        border-color: rgba(#fff, 0.3);
      }
    }
  }
}

// Icon

.file-icon,
.file-icon .icon {
  width: 24px;
  height: 24px;
  position: relative;
  z-index: 1;

  &.-large,
  .file-preview.-large &,
  .list-content__container.-list-view-grid & {
    width: 48px;
    height: 48px;
    font-size: 48px;
  }
}

.file-icon {
  position: relative;
  color: $default-text-color;

  &.-type-archive {
    color: map.get($file-extension-colors, zip);
  }

  &.-extension-xls,
  &.-extension-xlsx,
  &.-extension-csv,
  &.-extension-doc,
  &.-extension-docx,
  &.-extension-ppt,
  &.-extension-pptx {
    &::after {
      font-family: Verdana, sans-serif;
      width: 11px;
      height: 11px;
      line-height: 11px;
      font-size: 8px;
      text-align: center;
      font-weight: bold;
      border-radius: 2px;
      position: absolute;
      top: 7px;
      left: 0;
      z-index: 2;
    }

    &.-large,
    .file-preview.-large &,
    .list-content__container.-list-view-grid & {
      &::after {
        width: 18px;
        height: 18px;
        line-height: 17px;
        font-size: 14px;
        top: 16px;
      }
    }
  }

  &.-extension-xls,
  &.-extension-xlsx,
  &.-extension-csv {
    &::after {
      content: 'X';
      background: map.get($file-extension-colors, xls);
    }
  }

  &.-extension-doc,
  &.-extension-docx {
    &::after {
      content: 'W';
      background: map.get($file-extension-colors, doc);
    }
  }

  &.-extension-ppt,
  &.-extension-pptx {
    &::after {
      content: 'P';
      background: map.get($file-extension-colors, ppt);
    }
  }

  &.-extension-pdf {
    &::after {
      content: 'PDF';
      font-family: Verdana, sans-serif;
      height: 11px;
      font-size: 6px;
      text-align: center;
      font-weight: bold;
      line-height: 11px;
      position: absolute;
      bottom: 2px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      text-indent: -0.5px;
      color: map.get($file-extension-colors, pdf);
    }

    &.-large,
    .file-preview.-large &,
    .list-content__container.-list-view-grid & {
      &::after {
        height: 18px;
        line-height: 18px;
        font-size: 10px;
        bottom: 4px;
      }
    }
  }
}
