@use '../variables' as *;
@use '../mixins' as *;

// Containers

.list__wrapper {
  position: relative;
}

.list__container {
  position: relative;
}

// Header

.list-header__container {
  margin: 0 0 12px;
  display: flex;
  justify-content: space-between;
}

.list-footer__container {
  margin: 12px 0 0;
  display: flex;
  justify-content: space-between;

  .list__wrapper.-empty & {
    display: none;
  }
}

// Filters

.list-filters__wrapper {
  display: flex;
  gap: 8px;
}

.list-options__container {
  display: flex;
  gap: 8px;
  align-items: center;
}

.list-search__container {
  width: 140px;
}

.list-filters__container {
  position: relative;
}

.list-filters__button-amount {
  position: absolute;
  top: 3px;
  right: 3px;
  color: #fff;
  background: $info-color;
  width: 12px;
  height: 12px;
  line-height: 12px;
  font-size: 10px;
  font-weight: 600;
  border-radius: calc($small-border-radius - 2px);
  transition: transition('opacity', 'transform');
  opacity: 0;
  transform: scale(0.75);

  &.-active {
    opacity: 1;
    transform: scale(1);
  }
}

.list-filters__options-header {
  padding: 4px 8px;
  font-size: 13px;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
}

.list-filters__options-title {
  white-space: nowrap;
  color: $color-surface-6;
  font-weight: 600;
}

.list-filters__options-clear-button {
  white-space: nowrap;
  color: $color-surface-6;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  transition: transition('color');
  cursor: pointer;

  &:hover {
    color: $default-text-color;
  }
}

.list-filters__options {
  position: relative;
  min-width: 200px;
  padding: 4px 8px;
  margin: 1px 0 0;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 8px;
    left: 8px;
    height: 1px;
    background: $color-surface-3;
  }
}

.list-filters__options-clear-button-icon {
  width: 16px;
  height: 16px;
  font-size: 16px;
  line-height: 16px;
  transform: translateY(-0.5px);
}

.list-filters__options-clear-button-text {
  margin: 0 0 0 2px;
  display: none;

  .list-filters__options-clear-button.-active & {
    display: block;
  }
}

.list-filters__option {
  padding: 4px 0;
}

.list-filters__option-label {
  font-size: 13px;
  color: $color-surface-6;
  font-weight: 600;
}

.list-filters__option-item {
  cursor: pointer;
  transition: transition('color');

  &.-has-icon {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &:hover {
    color: $light-text-color;
  }
}

.list-filters__option-item-icon {
  flex-shrink: 0;
  transition: transition('transform');

  .list-filters__option-item.-has-icon & {
    line-height: 24px;
    width: 20px;
  }

  .list-filters__option-item.-radio & {
    font-size: 18px;
  }

  .list-filters__option-item.-checkbox & {
    font-size: 20px;
  }

  .list-filters__option-item.-down & {
    text-indent: -2px;
  }

  .list-filters__option-item.-down.-active & {
    transform: scaleY(-1);
  }
}

.list-filters__option-item-label {
  font-size: 14px;
  line-height: 1.4;
  max-width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 1px;
}

.list-filters__option-menu-container {
  position: relative;
}

.list-filters__option-menu-items {
  padding: 4px 8px;
  min-width: 200px;
  max-height: calc(24px * 10 + 4px + 4px);
  overflow: auto;
  overscroll-behavior: contain;
}

.list-filters__option-menu-toggler {
  cursor: pointer;
}

// Item header

.list-content__container {
  position: relative;
  border-radius: $small-border-radius;
  transition: transition('outline-color');
  outline-color: transparent;

  .list__wrapper.-is-dragover & {
    outline: 1px dashed $color-surface-4;
    outline-offset: 4px;
  }
}

.list-content__header {
  display: flex;
  align-items: center;
  position: relative;
  background: $color-surface-2;
  border-radius: $small-border-radius $small-border-radius 0 0;
  padding: 4px 8px 3px;

  .list__wrapper.-empty & {
    display: none;
  }

  &::after {
    content: '';
    height: 1px;
    background: $color-surface-3;
    position: absolute;
    left: 8px;
    right: 8px;
    top: calc(100% - 1px);
  }
}

.list-content__items {
  background: $color-surface-2;
  border-radius: 0 0 $small-border-radius $small-border-radius;

  .list__wrapper.-empty & {
    border-radius: $small-border-radius;
  }

  .list__wrapper:not(.-empty) .list-content__container.-list-view-grid & {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 8px;
    padding: 8px;

    @media (max-width: 900px) {
      grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    }

    @media (max-width: 600px) {
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }
  }
}

.list-items-amount__container {
  &.-active {
    cursor: default;
  }
}

// Item

.list-item__container {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 8px;
  line-height: 28px;
  margin: 0 0 1px;
  transition: transitionSlow('opacity', 'color');

  &.-menu-open {
    z-index: 3;

    &.-menu-closing {
      z-index: 2;
    }

    .list__actions-container [data-tooltip] {
      opacity: 0 !important;
    }
  }

  .list__wrapper:not(.-empty) .list-content__container.-list-view-grid & {
    display: block;
    aspect-ratio: 1 / 1;
    border-radius: $small-border-radius;
    padding: 0;
    margin: 0;
    background: $color-surface-3;
  }

  .list__wrapper.-empty & {
    color: $secondary-text-color;
    text-align: center;
    justify-content: center;
    font-size: 14px;
  }

  &.-inactive {
    color: $color-surface-4;

    .badge {
      background-color: $color-surface-3;
      color: $color-surface-4;
    }
  }

  .list__wrapper.-loading & {
    opacity: 0.25;
  }

  &::after {
    content: '';
    height: 1px;
    background: $color-surface-3;
    position: absolute;
    left: 8px;
    right: 8px;
    top: 100%;

    .list-content__container.-list-view-grid & {
      display: none;
    }
  }

  &.-sortable-dragging {
    margin: 0;
    background: $color-surface-2;
    border-radius: $small-border-radius;
    cursor: crosshair !important;

    &::after {
      display: none;
    }
  }

  &.-sortable-ghost .list__column.-body {
    opacity: 0.25;
  }

  &:last-child {
    margin-bottom: 0;

    &::after {
      display: none;
    }
  }
}

// Columns

.list__column {
  position: relative;
  margin: 0 8px 0 0;
  white-space: nowrap;
  transition: transition('color');

  &:last-child {
    margin-right: 0;
  }

  &.-head {
    display: flex;
    font-size: 13px;
    line-height: 24px;
    font-weight: 600;
    color: $color-surface-6;

    &.-sortable {
      cursor: pointer;

      &:not(:first-child) {
        margin-left: 4px;
      }

      &:hover {
        color: $light-text-color;
      }

      &[data-order-by='updated_at'] {
        .list-content__container.-list-view-grid & {
          display: flex !important;
        }
      }
    }

    .list-content__container.-list-view-grid & {
      margin-right: 0;
    }
  }

  &.-body {
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
    font-size: 13px;

    .list-content__container.-list-view-grid & {
      overflow: visible;
    }

    > a {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: $default-text-color;

      &:hover {
        color: $light-text-color;
      }

      .list-item__container.-inactive & {
        color: $color-surface-4;

        &:hover {
          color: $color-surface-5;
        }
      }
    }
  }

  &.-type-sortable {
    flex-shrink: 0;
    width: 24px;
    cursor: default;

    &.-body {
      height: 24px;
      transition: transition('color');
      color: $color-surface-4;

      .list__wrapper.-sortable & {
        cursor: grab;
        color: $secondary-text-color;
      }

      &:hover {
        .list__wrapper.-sortable & {
          color: $light-text-color;
        }
      }
    }
  }

  &.-type-actions,
  &.-type-multiselect {
    &.-body {
      .list-content__container.-list-view-grid & {
        transition: transition('opacity', 'color');
        background: $color-surface-2;
        border-radius: calc($small-border-radius - 4px);
        position: absolute;
        top: 4px;
        width: 28px;
        height: 28px;
        margin: 0;

        .icon {
          width: 28px;
          height: 28px;
          line-height: 28px;
        }
      }
    }
  }

  &.-type-multiselect {
    z-index: 4;
    flex-shrink: 0;
    width: 24px;

    &.-head {
      .list-content__container.-list-view-grid & {
        margin-right: auto;
      }
    }

    &.-body {
      .list-content__container.-list-view-grid & {
        opacity: 0;
        left: 4px;
      }

      .list-content__container.-list-view-grid .list-item__container[data-is-selected] &,
      .list-content__container.-list-view-grid .list-item__container:hover & {
        opacity: 1;
      }
    }
  }

  &.-type-filepreview {
    flex-shrink: 0;
    width: 32px;
    margin-top: -2px;
    margin-bottom: -2px;

    &.-head {
      .list-content__container.-list-view-grid & {
        display: none;
      }
    }

    &.-body {
      .list-content__container.-list-view-grid & {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        .file-icon {
          transform: translateY(-18px) scale(1.5);
        }

        .list__filepreview {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  &.-type-icon {
    width: 24px;
    flex-shrink: 0;

    &.-head {
      .list-content__container.-list-view-grid & {
        display: none;
      }
    }

    &.-body {
      height: 24px;
    }
  }

  &.-type-title {
    flex: 1 1 auto;

    &.-head {
      .list-content__container.-list-view-grid & {
        flex: unset;
      }
    }

    &.-body {
      font-size: 15px;

      .list-content__container.-list-view-grid & {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        z-index: 2;
        white-space: normal;
        text-overflow: unset;
        padding: 0;

        > a {
          position: relative;
          width: 100%;
          height: 100%;
          overflow: visible;
          white-space: normal;
          padding: 0;

          > div {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 24px 8px 4px;
            background-image: linear-gradient(to bottom, rgba(#000, 0), rgba(#000, 0.75) 100%);
            border-radius: 0 0 $small-border-radius $small-border-radius;

            > div {
              font-size: 13px;
              line-height: 18px;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              line-clamp: 2;
              overflow: hidden;
              max-height: calc(18px * 2);
              text-shadow: 1px 1px 2px rgba(#000, 0.5);
            }
          }

          &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-radius: $small-border-radius;
            border: 1px solid rgba(#fff, 0.15);
            pointer-events: none;
            transition: transition('opacity');
            opacity: 0;
          }

          &:hover {
            &::after {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  &.-type-badge {
    flex-shrink: 0;
    width: 95px;

    &.-head {
      flex-direction: row-reverse;

      .list-content__container.-list-view-grid & {
        flex-direction: row;
        width: auto;
      }
    }

    &.-body {
      text-align: right;
    }
  }

  &.-type-email {
    flex-shrink: 0;
    width: 240px;

    &.-head {
      flex-direction: row-reverse;

      .list-content__container.-list-view-grid & {
        flex-direction: row;
        width: auto;
      }
    }

    &.-body {
      text-align: right;
    }
  }

  &.-type-username {
    flex-shrink: 0;
    width: 160px;

    &.-head {
      flex-direction: row-reverse;

      .list-content__container.-list-view-grid & {
        flex-direction: row;
        width: auto;
      }
    }

    &.-body {
      text-align: right;
    }
  }

  &.-type-datetime {
    flex-shrink: 0;
    width: 145px;

    &.-head {
      flex-direction: row-reverse;

      .list-content__container.-list-view-grid & {
        flex-direction: row;
        width: auto;
      }
    }

    &.-body {
      text-align: right;
    }
  }

  &.-type-actions {
    display: flex;
    z-index: 5;
    flex-shrink: 0;
    margin-right: -2px;
    margin-left: 8px;
    overflow: visible;

    &.-head {
      .list-content__container.-list-view-grid & {
        display: none;
      }

      .list__action:not(:last-child) {
        @media (max-width: 600px) {
          display: none;
        }
      }
    }

    &.-body {
      .list-content__container.-list-view-grid & {
        right: 4px;
      }
    }
  }
}

// Actions

.list__actions-container {
  display: flex;

  @media (max-width: 600px) {
    display: none;
  }

  .list-content__container.-list-view-grid & {
    display: none;
  }
}

.list__action {
  position: relative;
  width: 28px;
  height: 24px;
  transition: transition('color');
  color: $secondary-text-color !important;

  &:hover,
  &.-active {
    color: $light-text-color !important;
  }

  &.-type-toggle {
    .list-item__container.-inactive & {
      color: $color-surface-4 !important;

      &:hover {
        color: $light-text-color !important;
      }
    }
  }

  a {
    display: block;
    width: 28px;
    height: 24px;
    color: $secondary-text-color !important;

    &:hover {
      color: $light-text-color !important;
    }
  }

  .list__column.-body & {
    cursor: pointer;
  }

  &.-type-menu {
    .list-content__container.-list-view-grid & {
      width: 28px;
      height: 28px;
    }
  }
}

.list__action-icon {
  display: block;
  height: 24px;
  width: 24px;
  margin: auto;
}

.list__reorder-menu {
  &.-menu {
    left: 8px !important;
  }
}

.list__reorder-menu-link {
  &.-type-move-to-top {
    .icon {
      transform: scaleY(-1);
    }
  }
}

// Actions menu

.list__actions-menu-container {
  position: relative;
  height: 24px;
  display: none;

  @media (max-width: 600px) {
    display: block;
  }

  .list-content__container.-list-view-grid & {
    display: block;
    width: 100%;
    height: 100%;
  }
}

// List order

.list__order-icon {
  transition: transition('opacity', 'transform');
  opacity: 0;

  .list__column.-head:hover &,
  .list__column.-head.-current-order & {
    opacity: 1;
  }

  .list__column.-head:not(.-current-order)[data-default-order-direction='desc'] & {
    transform: scaleY(-1);
  }

  .list__column.-head.-current-order[data-order-direction='desc'] & {
    transform: scaleY(-1);
  }

  .list__column.-head.-current-order[data-order-direction='asc']:hover & {
    transform: scaleY(-1);
  }

  .list__column.-head.-current-order[data-order-direction='desc']:hover & {
    transform: scaleY(1);
  }
}

// Multiselect

.list-multiselect__container {
  position: relative;
  display: flex;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.list__multiselect-icon {
  display: block;
  height: 24px;
  width: 24px;
  font-size: 20px;
  line-height: 24px;
  margin: auto;
  text-align: center;
  color: $secondary-text-color;
  flex-shrink: 0;
  cursor: pointer;
  transition: transition('opacity', 'color');

  &:hover {
    color: $light-text-color;
  }

  .list-multiselect__container & {
    width: calc(24px + 8px);
    height: 32px;
    line-height: 32px;
    padding: 0 0 0 8px;
    margin: 0 8px 0 0;
  }
}
