@use '../variables' as *;
@use '../mixins' as *;

// Container

.upload-progress__wrapper {
  margin: 24px 0;
  display: flex;
  flex-direction: column;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.upload-progress__container {
  position: relative;
}

// Items

.upload-progress__item-wrapper {
  &.-complete {
    cursor: pointer;
  }
}

.upload-progress__item-container {
  position: relative;
  padding: 0 0 4px;
  transition: transition('padding');

  .upload-progress__item-wrapper:last-child & {
    padding-bottom: 0;
  }
}

.upload-progress__item {
  padding: 4px 8px 4px 4px;
  background: $color-surface-2;
  border: 1px solid $color-surface-3;
  border-radius: $small-border-radius;
  display: flex;
  align-items: flex-start;
  gap: 8px;

  .upload-progress__item-wrapper.-error & {
    border-color: $error-color;
  }
}

.upload-progress__preview {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
}

.upload-progress__content {
  flex: 1;
  width: calc(100% - 32px - 8px);
}

.upload-progress__text-container {
  font-size: 13px;
  line-height: calc(32px - 4px - 3px);
  display: flex;
  justify-content: space-between;
}

.upload-progress__text {
  width: calc(100% - 36px - 16px);
}

.upload-progress__filename {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
}

.upload-progress__error {
  color: $error-color;
  line-height: 1.4;
  margin: -2px 0 0;
}

.upload-progress__status {
  flex-shrink: 0;
  transition: transition('color');
  width: calc(36px + 16px);
  text-align: right;

  .upload-progress__item-wrapper.-success & {
    color: $success-color;
  }

  .upload-progress__item-wrapper.-error & {
    color: $error-color;
  }
}

.upload-progress__bar-container {
  position: relative;
  margin: 4px 0 0;
  background: $color-surface-4;
  height: 3px;
  width: 100%;
  border-radius: 1.5px;
  overflow: hidden;
}

.upload-progress__bar {
  height: 3px;
  border-radius: 1.5px;
  background: $info-color;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  transition: transition('width');
}

